@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700&display=swap");
/*
@font-face {
	font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.ttf');
	//src: local('☺'), url('Poppins-Regular.woff') format('woff'), url('Poppins-Regular.ttf') format('truetype'), url('Poppins-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-Bold.ttf');
	//src: local('☺'), url('Poppins-Bold.woff') format('woff'), url('Poppins-Bold.ttf') format('truetype'), url('Poppins-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
*/
body {
  background-color: #010506;
  font-family: 'Poppins';
  color: #eef8f7;
}

div {
  padding: 5px;
  margin: 3px;
}

.form-control {
  padding: 0;
  margin: 0;
  width: 100%;
}

.swiper-slide {
  padding: 0;
}

.swiper-slide img {
  max-width: 100%;
}

.swiper-container {
  padding: 0;
}

.swiper-wrapper {
  padding: 0;
}

.swiper-button-next::after, .swiper-button-prev::after {
  color: #eef8f7;
  font-weight: 700;
  margin-bottom: 120px;
  background-color: #010506;
  padding: 10px;
  border-radius: 20px 0px 0px 20px;
  -webkit-box-shadow: 1px 1px 5px #010506;
          box-shadow: 1px 1px 5px #010506;
}

.swiper-button-next::after {
  border-radius: 0px 20px 20px 0px;
}

small {
  font-weight: 100;
  color: #010506;
}

input:hover {
  border-color: #faab05;
}

input, input:active, input:focus {
  outline-color: #e35f21;
}

button, button:active, button:focus {
  outline: none;
}

button {
  display: block;
  width: 70%;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 25px;
  text-align: center;
  background-color: #faab05;
  color: #010506;
  font-weight: 700;
  border: 3px solid #010101;
  -webkit-transition: 0.19s;
  transition: 0.19s;
}

button:hover {
  border-radius: 10px;
  background-color: #010506;
  -webkit-box-shadow: 1px 1px 15px  #e35f21;
          box-shadow: 1px 1px 15px  #e35f21;
  text-shadow: 1px 1px 1px #e35f21;
  color: #faab05;
}

button:active {
  background-color: #e35f21;
  border-color: #e35f21;
  text-shadow: 1px 1px 1px #010506;
}

@media screen and (min-width: 1025px) {
  .wrapper::after {
    content: "";
    display: table;
    clear: both;
  }
  .wrapper {
    min-height: 90vh;
    max-width: 1640px;
  }
  .showcase {
    width: calc(64% - 40px);
    min-height: 92vh;
    border-left: 2px solid #eef8f7;
    float: right;
  }
  .showcase .showcase__frame {
    height: 800px;
    vertical-align: middle;
  }
  .showcase .showcase__frame .swiper-container {
    margin-top: 4%;
    height: 800px;
    width: 900px;
  }
  .logo, .wrapperContent-UserForm {
    width: calc(38% - 40px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    float: left;
  }
  .logo__pic {
    display: block;
    max-width: 100%;
    max-height: 180px;
  }
  .content {
    width: 97%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 auto;
    color: #eef8f7;
    text-shadow: 1px 1px 2px black;
  }
  .content :nth-child(1) {
    margin: 5px;
    font-size: 29px;
    font-weight: 400;
    text-align: left;
    color: #faab05;
  }
  .content :nth-child(2) {
    margin: 5px;
    font-size: 19px;
    font-weight: 200;
    text-align: left;
    color: #eef8f7;
  }
  .userForm {
    width: 97%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 auto;
    border: 2px solid #e35f21;
  }
  .userForm p {
    color: #eef8f7;
    font-size: 22px;
    text-align: center;
    text-shadow: 2px 2px 3px #010506;
    padding: 0;
    margin: 10px;
  }
  .userForm form p {
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    display: block;
    width: 52%;
    margin: 0 auto;
  }
  .userForm input {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 5px;
    font-size: 18px;
  }
  .userForm small {
    display: block;
    margin: 1px;
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .swiper-button-next::after, .swiper-button-prev::after {
    visibility: hidden;
    opacity: none;
  }
  .wrapper {
    max-width: 1024px;
    margin: 0 auto;
    border-top: 1px solid #eef8f7;
    border-bottom: 1px solid #eef8f7;
  }
  .wrapper .wrapperLogo-Showcase {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 0;
    margin: 0 auto;
  }
  .wrapper .wrapperLogo-Showcase .logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 5px;
  }
  .wrapper .wrapperLogo-Showcase .logo .logo__pic {
    display: block;
    max-width: 100%;
    max-height: 195px;
    margin: 0 auto;
  }
  .wrapper .wrapperLogo-Showcase .swiper-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 91%;
    margin: 0 auto;
    padding-right: 5px;
    margin-bottom: 5px;
  }
  .wrapper .wrapperLogo-Showcase .swiper-container .swiper__pic {
    max-width: 100%;
  }
  .wrapper .wrapperContent-UserForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 85%;
    margin: 0 auto;
  }
  .wrapper .wrapperContent-UserForm .content {
    width: 80%;
  }
  .wrapper .wrapperContent-UserForm .content :nth-child(1) {
    font-size: 25px;
    font-weight: 400;
    text-align: left;
    color: #faab05;
  }
  .wrapper .wrapperContent-UserForm .content :nth-child(2) {
    font-size: 20px;
    font-weight: 200;
  }
  .wrapper .wrapperContent-UserForm .userForm {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    border: 2px solid #e35f21;
  }
  .wrapper .wrapperContent-UserForm .userForm form p {
    width: 75%;
    margin: 0 auto;
    text-align: left;
    font-size: 20px;
  }
  .wrapper .wrapperContent-UserForm .userForm input {
    width: 75%;
    font-size: 20px;
    height: 40px;
  }
  .wrapper .wrapperContent-UserForm .userForm small {
    display: block;
    width: 75%;
    margin: 0 auto;
    font-size: 15px;
    text-align: left;
  }
}

@media screen and (max-width: 767px) and (min-width: 200px) {
  .swiper-button-next::after, .swiper-button-prev::after {
    display: none;
  }
  .wrapper {
    border-top: 1px solid #eef8f7;
    border-bottom: 1px solid #eef8f7;
  }
  .wrapper .logo__pic {
    max-width: 100%;
  }
  .wrapper .swiper-container {
    text-align: center;
  }
  .wrapper .swiper__pic {
    max-width: 100%;
  }
  .wrapper .content {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 94%;
  }
  .wrapper .content :nth-child(1) {
    color: #faab05;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 0 0;
  }
  .wrapper .content :nth-child(2) {
    text-align: justify;
    margin: 0 0 0 0;
  }
  .wrapper .content :nth-child(2) br {
    display: none;
  }
  .wrapper .userForm {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #e35f21;
  }
  .wrapper .userForm input {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
    height: 50px;
    font-size: 20px;
  }
  .wrapper .userForm p {
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .wrapper .userForm small {
    display: block;
    width: 50%;
    margin: 0 auto;
    text-align: left;
    padding: 0;
  }
}

.popup {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #010506de;
  top: 0;
  left: 0;
  opacity: none;
  visibility: hidden;
}

.popup .popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup .popup__content {
  border: 2px solid #98FB98;
  text-shadow: 1px 1px 5px black;
}

.popup .popup__close {
  display: block;
  width: 25%;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  text-shadow: none;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #faab05;
  border: 2px solid #010506;
  color: #010506;
  border-color: #010506;
  -webkit-transition: 0.05s;
  transition: 0.05s;
}

.popup .popup__close:hover {
  -webkit-box-shadow: 1px 1px 15px  #98FB98;
          box-shadow: 1px 1px 15px  #98FB98;
  background-color: #010506;
  color: #faab05;
  border-radius: 10px;
  color: #faab05;
}

.popup .popup__close:active {
  background-color: #98FB98;
  border-color: #98FB98;
  color: #010506;
}

.popup .popup__title {
  font-size: 25px;
  color: #faab05;
  font-weight: 700;
  text-align: center;
}

.popup .popup__text {
  text-align: center;
  font-size: 20px;
  font-weight: 100;
}

.popup.open {
  -webkit-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
  opacity: 1;
  visibility: visible;
}
/*# sourceMappingURL=style.css.map */